# =========================
# DEPENDENCIES
# =========================
node_modules/

# =========================
# ENV FILES
# =========================
.env
.env.local
.env.production

# =========================
# BUILD OUTPUT
# =========================
dist/
build/

# =========================
# DATABASE & STORAGE
# =========================
uploads/
data/

# =========================
# LOGS
# =========================
*.log
logs/

# =========================
# SYSTEM FILES
# =========================
.DS_Store
Thumbs.db

# =========================
# IDE / EDITORS
# =========================
.vscode/
.idea/

# =========================
# OPTIONAL
# =========================
coverage/
*.sqlite
*.db
